
/* HTML Defaults */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EFEFEF;
  font: 80% "Lucida Grande","Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "BitStream Vera Sans", Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  margin-bottom: 1em;
}
label {
}
input {
  padding: 0.4em;
}
ol li, ul li {
  list-style-position: inside;
}

/* Layout */
#page-wrapper {
  border-right: 1px solid #CCC;
  border-left: 1px solid #CCC;
  width: 960px;
  margin: 0 auto;
}
#page {
  border-right: 1px solid #999;
  border-left: 1px solid #999;
}
#main {
  overflow: hidden;
}
#sidebar-left {
  float: left;
}
#sidebar-right {
  float: right;
  background: #DDD;
}
/**** Two Sidebars ****/
body.two-sidebars div.sidebar {
  width: 20%;
}
body.two-sidebars #content-wrapper {
  width: 55%;
  float: left;
}
/*** One Sidebar ***/
body.one-sidebar #content-wrapper {
  width: 80%;
  float: left;
}
body.one-sidebar .sidebar {
  width: 20%;
}

#header,
#main,
#navigation,
#footer {
  /* Change this to the content size you want */
  margin: 0 auto;
  clear: both;
}



/* Layout Style */
#header-wrapper {
  background: #FFF;
  border-bottom: 1px solid #DDD;
}
#header {
  overflow: hidden;
}
#header #logo {
  clear: none;
  display: inline;
  padding: 0 0 0 1em;
}
#header #site-name {
  display: inline;
}
#header #site-name a {
  color: #D54E21;
}
#header #site-slogan {
  display: inline;
  float: right;
  font-size: 110%;
  font-weight: bold;
  margin: 3em 1em;
  color: #AAA;
}
#header #logo-title {
  padding: 2em 0.5em;
}
#navigation {
  background: #CCC;
  border-bottom: 1px solid #AAA;
}
#primary {
  text-align: left;
}
#primary ul {
  border-top: 1px solid #AAA;
  padding: 0.8em 1em 3em 1em;
}
#primary ul li {
}
#primary ul li a {
  color: #555;
  font-weight: bold;
  text-decoration: none;
  padding: 0.8em;
}
#primary ul li a:hover {
  background: #C1C1C1;
}
#primary ul li a.active {
  background: #FFF;
  border-bottom: 4px solid #D54E21;
  padding: 1em;
}

#container-wrapper {
  background: #E5ECF3;
}
#main {
  background: #FFF;
}
#content-body {
  padding: 1em;
}
#page-title {
  color: #FFF;
  background: #3D9FD1;
  padding: 0.5em;
  border-bottom: 1px solid #BBB;
  text-transform: lowercase;
}
.messages {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid #CCC;
  background: #EEE;
}
.breadcrumb {
  padding: 0.8em;
  border-bottom: 1px solid #BBB;
}
.help {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid #D54E21;
  background: #AFD250;
}

#footer-wrapper {
  border-bottom: 1px solid #999;
  border-top: 1px solid #FFF;
  background: #CCC;
  color: #666;
}
#footer {
  padding: 2em;
}


/* Nodes */
.node {
}
.node h2 {
  margin: 0.5em 0;
}
.node .submitted {
  margin: 0.5em 0;
  font-weight: bold;
}
.node .meta {
  padding: 0.5em 1.2em;
}
.node .meta .terms {
  float: left;
  padding: 0.2em 0.5em 0.2em 1.5em;
}
.node .meta .extra-links {
  padding: 0.2em;
  float: right;
}

.node .meta .comment_add {
  padding: 0.2em 0 0.2em 2em;
  background: transparent url('images/icons.png') 0 -42px no-repeat;
}

/* Comments */
#comments {
  border-top: 1px solid #BBB;
  margin: 1em 0 0 0;
  padding: 1em 0 0 0;
}
#comments h2 {
  color: #999;
}
.comment {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px dashed #999;
}

/* Blocks */
.block {
}
.block h2 {
  margin: 0.5em 0;
}
.sidebar .block {
  overflow: hidden;
}
.sidebar .block h2 {
  padding: 0.2em;
  overflow: hidden;
  color: #666;
}
.sidebar .block .content {
  margin: 0.5em;
}


/* Tables */
tr td, tr th {
  padding: 0.4em;
}
tr th {
  background: #AAA;
  padding: 0.5em;
}
tr.odd {
  background: #DDD;
}
tr.even {
  background: #CCC;
}
tr:hover {
  background: #EEE;
}


#block-user-3 {
  background: #AFD250;
}
#block-user-3 h2 {
  color: #000;
  border-bottom: 1px solid #FFF;
}
#block-user-3 .content {
  border: none;
}
#block-user-3 ul {
  padding: 0 0 0.25em 0.6em;
}
#block-user-3 ul li {
  list-style: none;
  font-weight: bold;
  background: transparent url('images/rounded.png') no-repeat top left;
  margin: 0.5em 0;
  padding: 0.8em;
}
#block-user-3 ul li a {
  color: #FFF;
}

#block-blog-0 {
  background: #3D9FD1;
}
#block-blog-0 h2 {
  color: #FFF;
  border-bottom: 1px solid #FFF;
}


/* Views */
div.view div.views-admin-links {
  width: none;
}


.node .field-field-image {
  border: 2px solid #AAA;
  padding: 3px;
  float: right;
}
